* {
  padding: 0;
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calc-element {
  padding: 1rem 2px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 24px;
  background-color: rgb(69, 63, 100);
  color: rgb(205, 208, 240);
  margin: 1rem 5%;
}

.calculator {
  display: grid;
  grid-template-areas:
    "head head head head"
    "input1 input1 input2 input2"
    "plus minus multiply divide"
    "result result result result";
  max-width: 500px;
  width: 80%;
  margin: 3rem auto;
  gap: 2%;
  padding: 2rem 5% 4rem 5%;
  font-size: 24px;
  border-radius: 5px;
  place-items: center;
  background-color: rgb(111, 99, 152);
}
.calc-header {
  grid-area: head;
  margin-bottom: 2rem;
  text-align: center;
}
.calc-input {
  font-size: 30px;
  font-weight: 600;
  max-width: 100px;
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1rem;
}
.calc-input-1 {
  grid-area: input1;
  margin-left: auto;
}
.calc-input-2 {
  grid-area: input2;
  margin-right: auto;
}
.calc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  cursor: pointer;
  width: 90%;
  max-width: 80px;
  margin-bottom: 2rem;
}
.calc-button:hover {
  border: 2px solid rgb(214, 206, 240);
}
.calc-button:active {
  border: 2px solid rgba(214, 206, 240, 0.7);
}
.calc-button svg {
  pointer-events: none;
  fill: rgb(205, 208, 240);
  width: 50%;
}
.calc-plus {
  grid-area: plus;
  margin-left: auto;
}
.calc-minus {
  grid-area: minus;
}
.calc-multiply {
  grid-area: multiply;
}
.calc-divide {
  grid-area: divide;
  margin-right: auto;
}
.calc-result {
  grid-area: result;
  place-self: start;
  width: 90%;
  margin: auto;
  height: 2em;
  display: flex;
  align-items: center;
  padding: 1.5em 1em;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: auto;
}
